---
layout: default
title: ME
header: Posts By Tag
group: navigation
---
{% include JB/setup %}



<iframe width=50% height=50% src='https://geohey.com/apps/dataviz/640a67fc0f404924ad3f062a722938fe/share?ak=NDY4ZDZlMjE1MjI0NDNmNjg0MjYxM2E1NjQ3MzQwMzM' frameborder=0></iframe>
<!-- <ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>

{% for tag in site.tags %} 
  {% if tag[0] == 'python' %}
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>
  {% endif %}
{% endfor %} -->
